.vs/
SpicyWorkoutApp/bin/
SpicyWorkoutApp/obj/
SpicyWorkoutPlaner.Core/bin/
SpicyWorkoutPlaner.Core/obj/
SpicyWorkoutPlaner.Planer/bin/
SpicyWorkoutPlaner.Planer/obj/
SpicyWorkoutApp/SpicyWorkoutApp.csproj.user
